<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="icon" th:href="@{/icon/logo.png}">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/aboutus.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/legacy-mvc.css}" rel="stylesheet">
    <script th:src="@{/js/simpleFunction.js}" defer></script>
</head>
<body class="legacy-page">
<header th:replace="fragments :: header"></header>

<div class="backgroundaboutus">
    <h1 class="title">About Us</h1>
    <img th:src="@{/images/aboutus.png}" alt="Hi-Tech company">
    <div class="image1">
        <p>Hi-Tech Company is one of the leading electronic gadget resellers in Malaysia. It was founded by a group of students who graduated from TAR University College in 2020. Our company has 50 retail stores all over the country that sell top-quality electronic gadgets such as laptops, desktops, tablets, smartphones, computer hardware, and other accessories at a reasonable price. Moreover, our company is headquartered in KL. We sell products with a wide range of brands, including but not limited to ASUS, DELL, LENOVO, APPLE, ACER, HP, Samsung, OPPO, Kingston, JBL, and other popular brands. At Hi-Tech, we also provide after-sales services such as repairs. We want to provide our clients with a cosy, at-home experience and let them relax while dealing with us.</p>
        <img th:src="@{/images/business card.png}" alt="Business card">
    </div>
    <div class="image2">
        <img th:src="@{/images/3founder.png}" alt="Founders">
        <div class="image3">
            <img th:src="@{/images/award.png}" alt="Award">
        </div>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
