<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/icon/logo.png}">
    <title>FAQ</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/faq.css}" rel="stylesheet">
    <link th:href="@{/css/legacy-mvc.css}" rel="stylesheet">
    <script th:src="@{/js/simpleFunction.js}" defer></script>
    <script th:src="@{/js/scripts.js}" defer></script>
</head>
<body class="legacy-page">
<header th:replace="fragments :: header"></header>

<div class="aboutusBackgrd">
    <section class="contents">
        <h1 class="aboutusheading">FAQ</h1>
        <div class="faqs">
            <div class="ques" role="button" tabindex="0" aria-expanded="false">
                <h3>How to get the premium account for Hi-Tech for free?</h3>
                <img class="dropdownans" th:src="@{/icon/dropdown.svg}" alt="">
            </div>
            <div class="ans" aria-hidden="true">
                <p>To get the free Hi-Tech account, you will need to make a purchase up to RM5,000 in a single purchase to be able to obtain the free premium account.</p>
            </div>
        </div>
        <div class="faqs">
            <div class="ques" role="button" tabindex="0" aria-expanded="false">
                <h3>How to install the app in phone?</h3>
                <img class="dropdownans" th:src="@{/icon/dropdown.svg}" alt="">
            </div>
            <div class="ans" aria-hidden="true">
                <p>To install our app, first you must connect to the Wi-Fi, then you can search for Hi-Tech in your playstore or appstore.</p>
            </div>
        </div>
        <div class="faqs">
            <div class="ques" role="button" tabindex="0" aria-expanded="false">
                <h3>I forgot to take picture of my receipt which is entitled to redeem freebie, what should I do?</h3>
                <img class="dropdownans" th:src="@{/icon/dropdown.svg}" alt="">
            </div>
            <div class="ans" aria-hidden="true">
                <p>Kindly reach out to the nearest Hi-Tech branches to take another copy of your receipt.</p>
            </div>
        </div>
        <div class="faqs">
            <div class="ques" role="button" tabindex="0" aria-expanded="false">
                <h3>How to apply for free gift during promotion?</h3>
                <img class="dropdownans" th:src="@{/icon/dropdown.svg}" alt="">
            </div>
            <div class="ans" aria-hidden="true">
                <p>To apply for free gift during promotion, first you will need to purchase Elite pack in our flagship store. Then, you will receive a notification giving you the free gift.</p>
            </div>
        </div>
        <div class="faqs">
            <div class="ques" role="button" tabindex="0" aria-expanded="false">
                <h3>How to make a purchase online?</h3>
                <img class="dropdownans" th:src="@{/icon/dropdown.svg}" alt="">
            </div>
            <div class="ans" aria-hidden="true">
                <p>To make a purchase online, click Products on the navigation pane, view your desired product, then add it to cart to proceed to payment.</p>
            </div>
        </div>
    </section>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
