<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Feedback</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/icon/logo.png}">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/feedback.css}" rel="stylesheet">
    <link th:href="@{/css/legacy-mvc.css}" rel="stylesheet">
    <script th:src="@{/js/simpleFunction.js}" defer></script>
</head>
<body class="legacy-page">
<header th:replace="fragments :: header"></header>

<div class="feedbackContent">
    <section id="feedback">
        <div class="feedbackHeading">
            <h1>Feedback</h1>
            <p>Comment Sections</p>
        </div>
        <div class="commentsection">
            <div class="commentbox">
                <div class="topBox">
                    <div class="avatar"><img th:src="@{/images/bird.jpg}" alt="Ramly Burger"></div>
                    <div class="username">
                        <strong>Ramly Burger</strong>
                        <span>burger1234@yahoo.com</span>
                    </div>
                </div>
                <div class="commentContent">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starhalf.png}" alt="">
                    <img th:src="@{/icon/starempty.png}" alt="">
                    <img th:src="@{/icon/starempty.png}" alt="">
                </div>
                <div class="commentTxt">
                    <p>Very nice, have a lot of advanced electronic gadget. It has a lot of categories of electronic gadgets such as desktop, laptop, etc.</p>
                </div>
            </div>
            <div class="commentbox">
                <div class="topBox">
                    <div class="avatar"><img th:src="@{/images/girl1.jpg}" alt="Susan"></div>
                    <div class="username">
                        <strong>Susan</strong>
                        <span>susan1234@yahoo.com</span>
                    </div>
                </div>
                <div class="commentContent">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starempty.png}" alt="">
                </div>
                <div class="commentTxt">
                    <p>I have brought a laptop here before, very nice service, the staffs are friendly and considerate. Will visit here again in the future.</p>
                </div>
            </div>
            <div class="commentbox">
                <div class="topBox">
                    <div class="avatar"><img th:src="@{/images/Lee.jpg}" alt="Lee Chong Wei"></div>
                    <div class="username">
                        <strong>Lee Chong Wei</strong>
                        <span>chongwei1234@yahoo.com</span>
                    </div>
                </div>
                <div class="commentContent">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starfull.png}" alt="">
                </div>
                <div class="commentTxt">
                    <p>Hi-Tech is really cheap compared to mall. The stuff are vary from casing, hp condom, key chain, headset, and many others. the cheapest one are from RM 5.</p>
                </div>
            </div>
            <div class="commentbox">
                <div class="topBox">
                    <div class="avatar"><img th:src="@{/images/cat.gif}" alt="Kin Hang"></div>
                    <div class="username">
                        <strong>Kin Hang</strong>
                        <span>kinhang123@gmail.com</span>
                    </div>
                </div>
                <div class="commentContent">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starhalf.png}" alt="">
                    <img th:src="@{/icon/starempty.png}" alt="">
                    <img th:src="@{/icon/starempty.png}" alt="">
                </div>
                <div class="commentTxt">
                    <p>Helpfully staff. A lot of phone casing to chose. Quality stuff. Have all the phone accessories I needed. Will come back again. Price are similar to pasar Malam but here more quality. Will choose here than pasar Malam.</p>
                </div>
            </div>
            <div class="commentbox">
                <div class="topBox">
                    <div class="avatar"><img th:src="@{/images/confused.gif}" alt="Drak"></div>
                    <div class="username">
                        <strong>Drak</strong>
                        <span>dra4@thunderbird.com</span>
                    </div>
                </div>
                <div class="commentContent">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starempty.png}" alt="">
                </div>
                <div class="commentTxt">
                    <p>Compared to other's gadget shops, the price considered cheap. But I can't find the expected phone cover for my Redmi, neither the other shops. Parking lot is a main thing to consider. Phone cover B2F1.</p>
                </div>
            </div>
            <div class="commentbox">
                <div class="topBox">
                    <div class="avatar"><img th:src="@{/images/sleepy.gif}" alt="Nelson"></div>
                    <div class="username">
                        <strong>Nelson</strong>
                        <span>Nelsonn1234@google.com</span>
                    </div>
                </div>
                <div class="commentContent">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starfull.png}" alt="">
                    <img th:src="@{/icon/starfull.png}" alt="">
                </div>
                <div class="commentTxt">
                    <p>Good selection of unbelievably cheap electronics and accessories. Prices are cheaper than what i can find online. Staff are friendly and very attentive. Allows customers to test all products before purchase.</p>
                </div>
            </div>
        </div>
    </section>
</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
