<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/icon/logo.png}">
    <link rel="stylesheet" th:href="@{/css/singleprod.css}">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/legacy-mvc.css}" rel="stylesheet">
    <script th:src="@{/js/simpleFunction.js}" defer></script>
    <title th:text="${product.name}">Product</title>
</head>
<body class="legacy-page legacy-product-detail">
<header th:replace="fragments :: header"></header>

<div class="singleContainer">
    <div class="singleProduct">
        <div class="gallery">
            <img th:src="@{${product.imagePath}}" th:alt="${product.name}" id="productImg">
            <div class="img-controls">
                <span class="btn0" id="btn0-control" th:attr="data-src=@{${product.imagePath}}"></span>
                <span class="btn0" th:attr="data-src=@{${product.detailImagePath}}"></span>
            </div>
        </div>

        <div class="details">
            <h1 th:text="${product.name}">Product</h1>
            <h2 th:text="'RM' + ${#numbers.formatDecimal(product.salePrice, 1, 'COMMA', 2, 'POINT')}">RM0</h2>
            <h3 th:if="${product.discountPercentage > 0}"
                th:text="'-' + ${product.discountPercentage} + '%'">-25%</h3>
            <p class="product-description" th:text="'~' + ${product.description}">~Description</p>
            <p class="stock-line" th:text="'~Stock available: ' + ${product.stock}">~Stock available: 0</p>
            <form th:action="@{/cart/items}" method="post">
                <input type="hidden" name="productId" th:value="${product.id}">
                <div class="size-select">
                    <p>Size</p>
                    <label for="small">
                        <input type="radio" name="size" id="small">
                        <span>---</span>
                    </label>
                    <label for="large">
                        <input type="radio" name="size" id="large">
                        <span>---</span>
                    </label>
                </div>
                <div class="color-select">
                    <p>Color</p>
                    <label for="white">
                        <input type="radio" name="color" id="white">
                        <span class="color-1"></span>
                    </label>
                    <label for="black">
                        <input type="radio" name="color" id="black">
                        <span class="color-2"></span>
                    </label>
                </div>
                <div class="quantity-select">
                    <p>Quantity</p>
                    <input type="number" name="quantity" value="1" min="1" th:max="${product.stock}">
                </div>
                <button class="buy-btn" type="submit">Buy now</button>
            </form>
        </div>
    </div>
</div>

<footer th:replace="fragments :: footer"></footer>
<script>
    const productImg = document.getElementById("productImg");
    document.querySelectorAll(".btn0").forEach((button) => {
        button.addEventListener("click", () => {
            productImg.src = button.dataset.src;
        });
    });
</script>
</body>
</html>
