.title {
    font-size: 4rem;
    color: white;
    text-align: center;
    font-family: Monstserrat-Bold;
    padding: 50px 0px 0px;
}

.backgroundaboutus {
    background-image: linear-gradient(to right,rgba(0,0,0,0.95),rgba(0,0,0,0.5)),url(../images/background-image.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.backgroundaboutus div img {
    width: 100%;
    margin: 100px 0px;
}

.image1 {
    display: block;
    background-color: white;
    padding: 100px 0px;
}