.backgroundaboutus {
    background-image: linear-gradient(rgba(0,0,0,0.95),rgba( 0,0,0,0.5)),url(../images/background-image.png);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.backgroundaboutus img {
    width: 100%;
    margin: 20px;
}